<html>
{% extends "layout.html" %}
{% block content %}
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<body style="background-color:#f5e4dc;">
	<br>
	<br>
	<br>
	<br>
	<center><h1 style="color:#4e0628;"> Looking for a great dessert recipe?</h1>
	<br>
	</br>
	<p style="color:#4e0628;font-weight:500;letter-spacing:0.3px;">I have an amazing collection of delicious recipes for you to try</p>
	<!-- Form to enter the dessert for which recipe details are required -->
	<form action="{{ url_for('recipe') }}" method=post>
		<p class="heading" style="color:#4e0628;font-weight:500;letter-spacing:0.3px;">Enter the dessert:</p>
		<input type=text name=Dessert>
		<br>
		<br>
		<p><button type="submit" class="btn btn-primary" value="Enter" style="background-color:#4e0628;color:#ddd3c9;border-color:#ddd3c9;font-weight:500;">Enter</button></p></center>
	    </form>
	    <br>
	    <!-- Recipe information listed in this div tag -->
	    <div style="color:#4e0628;margin-left:200px;margin-right:200px;">
	    {% for entry in foodname %}
		
	    <p> {{entry}}</p>
		
		
	{% endfor %}
	    </div>


		
	
</body>
{% endblock %}
</html>
